body
{
color: #456874;
text-align: center;
font-family: 'Times New Roman', Times, serif;
font-size: 16px;
margin: 0em;
padding: 0em;
}

#cabecera 
{
    background-color: #16981648;
    box-shadow: 0 0 10px rgba(darkgrey,);
    color: black;
    font-weight: bolder;
    margin: 0;
    padding: 1em;
}

#cabecera #tagline {
    padding: 1em 2em 0 0;
    font-weight: normal;
    font-size: 0.8em;
}

#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid rgba(5, 140, 182, 0.863);
    margin: 0 auto;
}

#container h1
{
    font-size: 40px;

}

#post
{
    padding: auto;
}

#footer 
{
    background: rgb(9, 63, 50);
    color: rgb(97, 100, 99);
    text-align: center;
    padding: 0.5em;
}